# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Node/JS (if any)
node_modules/
dist/
build/

# Python (if any tooling)
__pycache__/
*.pyc

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.log
